#modalContainer{
    background-color: rgba(0, 0, 0, 0.698);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal{
    background-color: rgb(43, 43, 43);
    /* width: 45%; */
    height: 70%;
    border-radius: .7rem;
    transition: ease-in-out 300ms;
}
.x{
    left: 97vw;
    cursor: pointer;
    position: fixed;
    top: 0;
}
.x p{
    font-size: 2rem;
}
#title{
    border-bottom: 1px solid rgb(64, 64, 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
}
#title p{
    padding: 0 1rem;
}
#title svg{
    width: 1.5rem;
    color: white;
}
#title svg:hover{
    color: rgb(154, 154, 154);
    cursor: pointer;
    transition: ease-in-out 200ms;
}
#title button{
    background: none;
    border: 0;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.next{
    color: rgb(222, 0, 0);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.next:hover{
    color: whitesmoke;
    transition: ease-in-out 200ms;
}
.createmodal input{
    border: 0;
    width: 100%;
    padding: 30.5vh 0;
    cursor: pointer;
    transition: ease-in-out 300ms;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.createmodal{
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(99.7% - 2rem);
    transition: ease-in-out 300ms;
}
.createmodal img{
    width: 110%;
    height: 200%;
    margin-top: -10rem;
}
.createmodal input:hover{
    transition: ease-in-out 300ms;
    background-color: rgb(50, 50, 50);
}
.createmodal input:focus {
    outline: none;
}
.createmodal form div{
    height: 100%;
}
.backimage{
    height: 100%;
}
.createmodal div{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom-left-radius: 1rem;
}
.createmodal div form{
    margin: 1rem 1rem;
    display: block;
}
.createmodal div form textarea{
    display: block;
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 90%;
    border: 0;
    margin-top: 1rem;
    color: white;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.createmodal div form textarea:focus{
    outline: none;
}
.createmodal div form textarea::placeholder{
    color: rgb(139, 139, 139);
}

#postmodal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
#postmodal article{
    padding: 1rem;
}
.comments{
    padding: 0 1rem;
    overflow-y: scroll;
}
.comments svg{
    width: 1.3rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
}
.comments svg:hover{
    color: gray;
    transition: ease-in-out 300ms;
}